body
{
	margin: 3% 15% 5%;
	background-color: #FFFFFF;
	font-family: VT323;
	font-size: 18px;
	line-height: 20px;
	color: #1A0048;
}
#KeyInfo
{
	margin: 0% 0% 0% 6%;
}
#Gear
{
	margin: 0% 4%;
}
#Inputs
{
	margin: 0% 10%;
}
#StagePlots
{
	margin: 0% 20%;
}
#Backstage
{
	margin: 0% 6%;
}
#Hospitality
{
	margin: 0% 8%;
}
#TravelParty
{
	margin: 0% 6%;
}
#Header
{
	font-family: VT323;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	/*+placement: margin-auto;*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 0;
	top: 0;
	/*+box-shadow: 6px 6px 8px 0px #40007C;*/
	-moz-box-shadow: 6px 6px 8px 0px #40007C;
	-webkit-box-shadow: 6px 6px 8px 0px #40007C;
	box-shadow: 6px 6px 8px 0px #40007C;
	border-collapse: collapse; 
	width: 65%; 
	height: 207px; 
	margin-left: auto; 
	margin-right: auto;
}
h1
{
	font-family: VT323;
	font-size: 34px;
	text-align: center;
	margin-top: 2%;
}
h2
{
	font-family: VT323;
	font-size: 28px;
	margin: 3% 1% -0.5% -2%;
}
h3
{
	font-family: VT323;
	font-size: 22px;
	margin: 3% 1% -1% -1%;
}
table
{
	font-family: VT323;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	/*+placement: margin-auto;*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 0;
	top: 0;
	/*+box-shadow: 6px 6px 8px 0px #40007C;*/
	-moz-box-shadow: 6px 6px 8px 0px #40007C;
	-webkit-box-shadow: 6px 6px 8px 0px #40007C;
	box-shadow: 6px 6px 8px 0px #40007C;
}
#backline
{
	font-family: VT323;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	/*+placement: margin-auto;*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 0;
	top: 0;
	/*+box-shadow: -6px 6px 8px 0px #40007C;*/
	-moz-box-shadow: -6px 6px 8px 0px #40007C;
	-webkit-box-shadow: -6px 6px 8px 0px #40007C;
	box-shadow: -6px 6px 8px 0px #40007C;
	border-collapse: collapse; 
width: 75%;
}
#Hospo
{
	font-family: VT323;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	/*+placement: margin-auto;*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 0;
	top: 0;
	/*+box-shadow: -6px 6px 8px 0px #40007C;*/
	-moz-box-shadow: -6px 6px 8px 0px #40007C;
	-webkit-box-shadow: -6px 6px 8px 0px #40007C;
	box-shadow: -6px 6px 8px 0px #40007C;
}
#inputlist
{
	font-family: VT323;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	/*+placement: margin-auto;*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 0;
	top: 0;
	/*+box-shadow: 6px 6px 8px 0px #40007C;*/
	-moz-box-shadow: 6px 6px 8px 0px #40007C;
	-webkit-box-shadow: 6px 6px 8px 0px #40007C;
	box-shadow: 6px 6px 8px 0px #40007C;
	border-collapse: collapse; 
	width: 80%;
}
#travel
{
	font-family: VT323;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	/*+placement: margin-auto;*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 0;
	top: 0;
	/*+box-shadow: 6px 6px 8px 0px #40007C;*/
	-moz-box-shadow: 6px 6px 8px 0px #40007C;
	-webkit-box-shadow: 6px 6px 8px 0px #40007C;
	box-shadow: 6px 6px 8px 0px #40007C;
}
